[submodule "deps/FNA"]
	path = deps/FNA
	url = https://github.com/rds1983/FNA.git
[submodule "deps/BMFontToSpriteFont"]
	path = deps/BMFontToSpriteFont
	url = https://github.com/rds1983/BMFontToSpriteFont.git
[submodule "deps/StbImageSharp"]
	path = deps/StbImageSharp
	url = https://github.com/StbSharp/StbImageSharp.git
