<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net, Version=1.2.15.0, Culture=neutral, PublicKeyToken=669e0ddf0bb1aa2a" />
	</configSections> 

	<log4net configSource="log4net.config"/>

	<appSettings>
<!--    <add key="PluginPath" value="Myra.UIEditor.Plugin.LibGDX.dll" /> -->
<!--    <add key="PluginPath" value="Myra.UIEditor.Plugin.YellowMenuButtons.dll" /> -->
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
	</startup>
</configuration>
